# `blog` depends on git version control, so we need to keep the .git directory
# and related files. However, we can ignore other files that are not necessary
# for the Docker build context.
# .git
.github
.gitignore
.gitattributes
.gitmodules

# Jekyll build output and cache
_site
.jekyll-cache
.jekyll-metadata

# Ruby/Bundler cache
.bundle
vendor

# Node.js
node_modules
package-lock.json

# Dev environment
.devcontainer
.editorconfig
.vscode

# SASS vendors cache
_sass/vendors
assets/js/dist

# Misc
*.gem
*.log
README.md
LICENSE
